.calendar {
    width: 100%;
    padding: 5px 0;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar__row_weeks {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.128);
    box-sizing: border-box;
    padding: 5px 0;
}

.item {
    min-width: 60px;
    background-color: rgba(0, 128, 0, 0.166);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.item_w {
    min-width: 60px;
    background-color: rgba(0, 60, 128, 0.166);
    border-radius: 10px;
    position: relative;
    cursor: default;
}

.item__tasks_count{ 
    position: absolute;
    font-size: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    top: -9px;
    color: red;
}

.calendar__row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: rgba(107, 107, 107, 0.128);
    box-sizing: border-box;
    padding: 14px 0;
}

.choose_year_and_month div {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choose_year_and_month div input {
    font-size: 14px;
    padding: 5px 5px;
    border-radius: 10px;
}

.choose_date {
    display: flex;
    justify-content: space-around;
}

.day_modal{ 
    position: absolute;
    z-index: 1000;
}

